.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .nav-link.active {
  color: white;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bg-nav {
  background: rgb(43, 90, 233);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/* cursos */

.titulo {
  margin-bottom: 50px;
}
